<div class="control">
    <mat-card>
        <mat-card-title align="center">
            <h2>Owl control</h2>
        </mat-card-title>
        <mat-card-content align="center">
            <img src="/assets/404-owl.svg" />
        </mat-card-content>
        <mat-card-actions align="center">
            <button mat-raised-button color="primary" (click)="move('up')">Up</button>
            <button mat-raised-button color="primary" (click)="move('down')">Down</button>
            <button mat-raised-button color="primary" (click)="move('left')">Left</button>
            <button mat-raised-button color="primary" (click)="move('right')">Right</button>
            <button mat-raised-button color="primary" (click)="move('reset')">Reset</button>
        </mat-card-actions>
        <mat-card-actions align="center">
                <button mat-button color="accent" [routerLink]="['/not-found']">Not Found</button>
                <button mat-button color="accent" (click)="logout()">Logout</button>
        </mat-card-actions>
    </mat-card>
    
  </div>