:host{
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  border-bottom: 1px #f0f0f0 solid;
}

.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  flex: 1;
}

h1{
  border-bottom: 0.3rem solid black;
  padding-left: 2.2rem;
  font-size: 1.5rem;
}

img {
  width: 30px;
  margin-right: -2.0rem;
  z-index: 1;
}