:host{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
  border-top: 1px #f0f0f0 solid;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  span {
    margin: 0.5rem; 
  }

}